/*  

CSS for example addon

It's important to always use the long class and ID names in order to avoid clashes with other installed addons. So they should all start with:

extension-scenes-

(with your addon ID)

*/

#extension-scenes-view {
  	height: 100%; /*calc(100% - 7.6rem);*/
  	box-sizing: border-box;
	overflow: auto;
	/*position: absolute;
	top: 7.6rem;
	left: 0;*/
	padding: 2rem;
    max-width: 100%;
}

#extension-scenes-view p{
	line-height: 160%;
}

#extension-scenes-view img{
    max-width:100%;
}

.extension-scenes-flex{
	display:flex;
}


.extension-scenes-small-text-button{
	display:inline-block;
	padding:0 1rem;
	border-radius:1rem;
	background-color:#5d9bc7;
	cursor:pointer;
}

#extension-scenes-content-container {
	display:flex;
	flex-direction: column;
	overflow: auto;
  	position: relative;
  	text-align: left;
  	font-size: 1.6rem;
  	color: #fff;
	height:auto;
    margin-bottom:50vh;
}



/*  TITLE  */

#extension-scenes-title{
	text-align:left;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
    margin: 0 auto;
    display: block;
    padding: 1rem;
    padding-left: 3.8rem;
    font-size: 1.8rem;
    background-size: 2.8rem;
    background-repeat: no-repeat;
    background-position: 0;
    background-image: url('../images/menu-icon.svg');
	width:8rem;
	margin:0 auto;
	margin-bottom:4rem;
}

#main-menu #extension-scenes-menu-item {
  	background-image: url('../images/menu-icon.svg');
}




#extension-scenes-second-page{
    display:none;
}
.extension-scenes-showing-second-page #extension-scenes-second-page{
    display:block;
}
.extension-scenes-showing-second-page #extension-scenes-main-page{
    display:none;
}


.extension-scenes-centered-page{
    max-width:80rem;
    margin:0 auto;
}

.extension-scenes-area{ 
    background-color:rgba(0,0,0,.1);
    border-radius:.5rem;
    padding:2rem;
    margin:4rem 0;
}

.extension-scenes-hidden{ 
    display:none!important;
}

#extension-scenes-view .text-button{
    font-size:1.6rem;
}



/*  MAIN PAGE  */

#extension-scenes-show-second-page-button{
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border: none;
    background-color: #7aadd1;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-image: url(/images/add.svg);
    border-radius: 2.8rem;
    cursor: pointer;
}


/*  LIST OF ITEMS */

#extension-scenes-main-items-list{
    margin-top:4rem;
    margin-bottom:4rem;
}

#extension-scenes-original-item{
    display:none;
}

.extension-scenes-item{
    margin: 2rem 0;
    border-radius:.5rem;
    background-color:rgba(0,0,0,.5);
}

.extension-scenes-item > div{
    padding:2rem;
    box-sizing:border-box;
}

.extension-scenes-item-main{
    display:flex;
    align-items: center;
    width:100%;
    box-sizing:border-box;
}

.extension-scenes-item-setter{
    width:100%;
    cursor:pointer;
    opacity:.9;
}
.extension-scenes-item-setter:hover{
    opacity:1;
}

.extension-scenes-item-name{
    font-size:2rem;
    opacity:.9;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 0rem 2rem 0.5rem 0;
    margin: 0;
    margin-left:2rem;
}

.extension-scenes-item-description{
    margin-left:2rem;
}


.extension-scenes-item-menu{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    border-left:1px solid rgba(255,255,255,.1);
}

.extension-scenes-timers-list-delete-button-container{
	padding:1rem;
}

.extension-scenes-item-play-button,
.extension-scenes-item-delete-button{
    background-repeat: no-repeat;
    background-size: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    border: 1px solid #979797;
    cursor: pointer;
	display:inline-block;
	opacity:.5;
}

/*  delete button */
.extension-scenes-item-delete-button{
    background: url(/images/delete-button.png);
    margin-left: auto;
    display: block;
}

/*  play button  */
.extension-scenes-item-play-button{
    background-image: url(/images/enable.svg);
    cursor: pointer;
    border: none;
    background-size: 50%;
    background-position: 65% center;
    background-repeat: no-repeat;
    opacity: 0.9;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 5rem;
    height: 5rem;
    border-radius: 2.8rem;
    background-color: rgba(0,0,0,.8);
    border: 2px solid transparent;
}

.extension-scenes-item-play-button:hover,
.extension-scenes-item-delete-button:hover{
	opacity:1;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}




/*  TIMERS  */

#extension-scenes-timers-list{
	margin-bottom:4rem;
}

#extension-scenes-timers-list:not(:empty)::before{
	content: 'Timers';
	font-size:2rem;
	display:block;
	margin-top:4rem;
	margin-bottom:1rem;
}

.extension-scenes-timers-list-item{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:center;
	padding:1rem;
	border-radius:1rem;
	background-color:rgba(255,255,255,.1);
	
}

.extension-scenes-timers-list-item-info{
	display:flex;
	flex-direction:column;
	padding:1rem;
}
.extension-scenes-timers-list-item-info-name{
	font-size:2.4rem;
}

.extension-scenes-timers-list-item-info-parent-name{
	opacity:.7;
	font-size:90%;
}


/*  TIMER SETTINGS ON SCENE EDIT PAGE  */

#extension-scenes-edit-thing-timer-settings{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
#extension-scenes-edit-thing-timer-settings > *{
	display:inline-block;
	margin-right:1rem;
}

#extension-scenes-edit-thing-timer-count{
	width:8rem;
}

#extension-scenes-edit-thing-timer-settings input,
#extension-scenes-edit-thing-timer-settings select{
	padding:.5rem 1rem;
	font-size:1.6rem;
	border-radius:.5rem;
}

#extension-scenes-edit-thing-timer-settings input{
	text-align:center;
	height:auto;
	font-size: 1.8rem;
}

#extension-scenes-edit-thing-timers-tutorial ul{
	line-height:160%;
}




/*  SECOND PAGE  */


/* back button */

#extension-scenes-back-button-container {
    top: 0rem;
    left: 0rem;
    position: fixed;
    padding: 2rem 0 0 2rem;
    width: 7.6rem;
    height: 7.6rem;
    z-index: 1000;
}

#extension-scenes-back-button{
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border: none;
    background-color: #7aadd1;
    user-select: none;    
    outline: 0;
    cursor: pointer;
    overflow: hidden;
    opacity: 1;
    cursor: pointer;
    background: #5d9bc7 no-repeat center/100% url(/images/back.png);
    background-size: 5.6rem;
    box-shadow: 0 1px 3px rgb(0 0 0 / 6%), 0 1px 2px rgb(0 0 0 / 12%);
}


/*  EDIT SCENE  */


#extension-scenes-edit-name{
    width: 100%;
    font-size: 2rem;
    height: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
}

#extension-scenes-edit-id{
	width:100%;
	opacity:.5;
	box-sizing: border-box;
}
body:not(.developer) #extension-scenes-edit-id{
	display:none;
}

#extension-scenes-edit-thing-settings{
    margin-top:4rem;
    margin-bottom:4rem;
}

.extension-scenes-edit-item{
    margin-bottom:2rem;
}

.extension-scenes-edit-item > label{
    font-size:1.8rem;
    font-weight:600;
}

.extension-scenes-edit-item-properties{
    margin-left:2rem;
    border-left:2px solid white;
    padding:1rem;
    margin-bottom:2rem;
    display:flex;
    flex-wrap:wrap;
}

.extension-scenes-edit-item-property{
    width:100%;
    min-width: 200px;
    border-radius: 0.5rem;
    background-color: rgba(0,0,0,.1);
    margin: 1rem;
    padding: 1rem;
    max-width: 40%;
}


#extension-scenes-edit-thing-settings label{
    cursor:pointer;
}


#extension-scenes-edit-thing-settings input[type="text"],
#extension-scenes-edit-thing-settings input[type="number"]{
    max-width:calc(100% - 6rem);
}


#extension-scenes-edit-thing-settings input[type="checkbox"] {
    zoom:200%;
    position:relative;
    top:.3rem;
}

#extension-scenes-edit-thing-settings input[type="checkbox"]  + label + div{
    display:none;
}
#extension-scenes-edit-thing-settings input[type="checkbox"]:checked  + label + div{
    display:flex;
}

#extension-scenes-edit-thing-settings .extension-scenes-edit-item-property-value{
    display:block;
    margin-left:1rem;
    font-size:1.8rem;
    max-width: calc(100% - 5rem);
    min-width:150px;
    margin-top:2rem;
    margin-bottom:1rem;
    margin-left:4rem;
}

#extension-scenes-edit-thing-settings select{
    padding:.5rem;
    display: inline-block;
    color: inherit;
    line-height: 1.6;
    border-radius: 0.5rem;
    box-sizing: border-box;
    border: none;
    /* background-color: #4d8bb7; */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(/images/select-arrow.svg);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    background-position: calc(100% - 1rem);
    padding: 1rem 3.5rem 1rem 2rem;
    max-width: 15rem;
    margin-right: 2rem;
    font-size: 1.6rem;
    background-color: rgba(0,0,0,.2);
}

#extension-scenes-edit-buttons{
    display:flex;
    justify-content:space-between;
}


#extension-scenes-start-page-explanation{
	margin-top:8rem;
}

#extension-scenes-start-page-explanation li{
	margin:1rem 0;
	line-height: 160%;
}

#extension-scenes-start-page-explanation li span{
	font-weight:bold;
	display:block;
}

/*  loading spinner  */

#extension-scenes-loading{
    text-align:center;
    margin-top:4rem;
}

.extension-scenes-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin:0 auto;
}
.extension-scenes-spinner div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgba(255,255,255,.5);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.extension-scenes-spinner div:nth-child(1) {
  left: 8px;
  animation: extension-scenes-spinner1 0.6s infinite;
}
.extension-scenes-spinner div:nth-child(2) {
  left: 8px;
  animation: extension-scenes-spinner2 0.6s infinite;
}
.extension-scenes-spinner div:nth-child(3) {
  left: 32px;
  animation: extension-scenes-spinner2 0.6s infinite;
}
.extension-scenes-spinner div:nth-child(4) {
  left: 56px;
  animation: extension-scenes-spinner3 0.6s infinite;
}
@keyframes extension-scenes-spinner1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes extension-scenes-spinner3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes extension-scenes-spinner2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}



#extension-scenes-debug-warning{
    max-width:60rem;
    margin:2rem auto;
    padding:2rem;
    background-color:red;
    color:white;
    border-radius:.5rem;
}

#extension-scenes-tabs-container{
    box-sizing:border-box;
}

#extension-scenes-main-page{
    padding-left:6rem;
    box-sizing:border-box;
}

@media screen and (min-width: 761px){
    #extension-scenes-main-page{
        padding-right:6rem;
    }
	
	#extension-scenes-start-page-explanation img{
		max-width:40%;
	}
}

@media screen and (max-width: 760px) {

    #extension-scenes-start-page-explanation{
    	flex-wrap:wrap;
    }
    
    .extension-scenes-edit-item-property{
        max-width:100%;
    }

}

@media screen and (min-width: 761px) and (max-width: 1024px) {
    
}


@media screen and (min-width: 641px) {
    .extension-scenes-item{
        display:flex;
        justify-content:space-between;
    }
    
    .extension-scenes-item-left{
        margin-right:2rem;
    }
}


@media screen and (min-width: 1025px) {
	#extension-scenes-start-page-explanation{
		padding: 2rem 4rem;
		margin-bottom: 3rem;
		border-radius: 2rem;
		background-color: rgba(0, 0, 0, .1);
	}
}


